.openintegrity {
}

.entry {
    width:96px;
    height:34px;
}

.badge {
    width:96px;
    height:34px;
    overflow:hidden;
    position: relative;	
}

.icon {
    position: absolute;
    top:0px;
    left:0px;
    margin: 0 5px 0 0;
    border: 0px solid black;
    width: 34px;
    height: 34px;
}

.drawer {
    position: absolute;
    top:0px;
    left:0px;
    height: 96px;
    width: 34px;
    display: none;
    z-index:-1;
}

.teaser {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index:1;
}
